@import url("https://fonts.googleapis.com/css?family=Cuprum:400,400i,700|PT+Sans:400,700&subset=cyrillic");

body{
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
}

a {
  	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main{
	display: block;
}

/*-----------------------order-navigation-----------------------------------------*/

.main-header{
	margin-bottom: 60px;
}

.main-header-wrapper{
	background-color: #293448;
}

.container{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.order-navigation{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #293448;
	color: #ffffff;
	margin: 0;
}

.order-navigation a{
	display: block;
}

.order-navigation .logo{
	position: relative;
	font-size: 24px;
  	line-height: 24px;
  	color: #ffffff;
  	background-color: #EF3644;
  	padding: 9px 55px;
  	cursor: pointer;
  	text-transform: uppercase;
}

.order-navigation .logo::before{
	content: "";
	position: absolute;
  	width: 219px;
  	height: 4px;
  	bottom: -4px;
  	left: 0;
  	background-color: #B52932;
}

.order-navigation .logo:hover,
.order-navigation .logo:focus{
	background-color: #C92C37;
}

.order-navigation .logo:active{
	background-color: #BA2632;
}

.order-navigation a{
	font-size: 17px;
  	line-height: 18px;
  	background-color: #293448;
  	color: #ffffff;
  	border: none; 
  	cursor: pointer;
}

.order-navigation .basket{
	position: relative;
	padding: 10px 0;
	padding-left: 50px;
	padding-right: 30px;
	display: block;
}

.order-navigation .bookmarks{
	position: relative;
	padding: 10px 0;
	padding-left: 45px;
	padding-right: 26px;
	display: block;
}

.order-navigation .bookmarks::before{
	content: "";
	position: absolute;
  	width: 18px;
  	height: 18px;
  	left: 17px;
  	background-image: url("../img/icon-bookmark.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
}

.order-navigation .basket::before{
	content: "";
	position: absolute;
  	width: 18px;
  	height: 18px;
  	left: 19px;
  	background-image: url("../img/icon-cart.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
}

.order-navigation .bookmarks:hover::before,
.order-navigation .basket:hover::before,
.order-navigation .bookmarks:focus::before,
.order-navigation .basket:focus::before{
	opacity: 1;
}

.order-navigation .bookmarks:active::before,
.order-navigation .basket:active::before{
	opacity: 0.5;
}

.order-navigation button:active{
	background-color: #161C28;
	color: #B7BBBE;
}

.order-navigation-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.order-navigation-item2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.order-navigation .order{
	font-size: 17px;
  	line-height: 18px;
  	background-color: #63A63D;
  	color: #ffffff;
  	padding: 12px 21px;
}

.order-navigation .order:hover,
.order-navigation .order:focus{
	background-color: #5FBA2E;
}

.order-navigation .order:active{
	background-color: #518533;
	color: #B7BBBE;
}

.search-form input[type=search] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 17px;
  	line-height: 18px;
	width: 270px;
	background-color: #293449;
	background-image: url(../img/icon-search-gray.svg);
	background-repeat: no-repeat;
	background-position: 17px 12px;
	border: none;
	-webkit-transition: background .15s;
	-o-transition: background .15s;
	transition: background .15s;
	padding: 11px 10px 12px 48px
}

.search-form input[type="search"]::-webkit-input-placeholder{
	color: #fff;
}

.search-form input[type="search"]:-ms-input-placeholder{
	color: #fff;
}

.search-form input[type="search"]::-ms-input-placeholder{
	color: #fff;
}

.search-form input[type="search"]::placeholder{
	color: #fff;
}

.search-form input[type=search]:hover {
  background-color: #212a3a;
  background-image: url(../img/icon-search-white.svg)
}

.search-form input[type=search]:active {
  background-image: url(../img/icon-search-gray.svg)
}

.search-form input[type=search]:focus {
  color: #000;
  background-color: #fff;
  background-image: url(../img/icon-search-red.svg)
}

/*-------------------------------------------------address----------------------------------------*/

.address{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 158px;
	background-color: #F3F7F8;
}

.address-wrapper{
	background-color: #F3F7F8;
	padding-bottom: 60px;
}

.address-item{
	width: 270px;
	margin-right: 67px;
}

.address h1{
	margin-top: 47px;
	margin-left: 51px;
	margin-right: 60px;
	width: 210px;
	font-size: 16px;
	line-height: 23px;
	color: #EF434E;
	font-style: italic;
	font-weight: normal;
}

.address p:not(.address-text){
	margin: 0;
	margin-top: 46px;
	margin-bottom: 3px;
	position: relative;
	color: #EF3643;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	letter-spacing: -0.3px;
	border: 3px solid #FFFFFF;
	padding: 9px 0;
	padding-left: 70px;
	padding-right: 40px;
}

.address p:not(.address-text)::before{
	content: "";
	position: absolute;
	width: 18px;
  	height: 18px;
  	left: 11px;
  	background-image: url("../img/icon-phone.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.address-item span{
	font-size: 13px;
	line-height: 24px;
	font-weight: bold;
	color: #32425C;
	padding-left: 10px;
}

.address button{
	height: 45px;
	font-size: 21px;
	line-height: 21px;
	margin-top: 46px;
	background-color: #ffffff;
	border: none;
	list-style: none;
	cursor: pointer;
}

.enter{
	position: relative;
	margin-right: 10px;
	padding-left: 48px;
	padding-right: 23px;
}

.enter::before{
	content: "";
	position: absolute;
	width: 20px;
  	height: 18px;
  	top: 14px;
  	left: 14px;
  	background-image: url("../img/icon-login.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.1;
}

.enter:hover::before,
.enter:focus::before{
	opacity: 1;
}

.enter:active::before{
	opacity: 0.1;
}

.registration{
	width: 150px;
}

.address button:hover,
.address button:focus{
	color: #ED3744;
}

.address button:active{
	color: #CACACA;
}

/*----------------------------------------main-navigation----------------------------------------*/

.site-navigation{
	background-color: #32425C;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 5px solid #293448;
}


.main-navigation a{
	display: block;
	font-size: 17px;
	margin: 0;
	line-height: 17px;
	padding: 19px 0;
	padding-left: 29px;
	padding-right: 32px;
	color: #ffffff;
	cursor: pointer;
}

.main-navigation li{
	list-style: none;
}

.main-navigation li:first-child{
	padding-left: 22px;
}

.main-navigation a:hover,
.main-navigation a:focus{
	background-color: #293448;
}

.main-navigation a:active{
	color: #A8ACAD;
}


/*-----------------------------------------description-------------------------------------------------*/

.description{
	color: #ffffff;
	margin-bottom: 53px;
}

.description-items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 59px;
}

.description-items-slider{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}

.description-right{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.description h3{
	font-size: 24px;
	line-height: 30px;
}

.description a{
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.description-item1{
	position: relative;
	background-color: #FFBF47;
	width: 300px;
	height: 123px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.description-item1::after{
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: url("../img/new-flag.png");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	top: 0;
  	right: 0;
}

.description-item1 h3,
.description-item2 h3,
.description-item3 h3,
.description-item4 h3,
.description-item5 h3{
	position: relative;
	padding-left: 22px;
	margin-top: 20px;
	margin-bottom: 12px;
}

.description-item1 h3::after{
	content: "";
	position: absolute;
	width: 50px;
	height: 70px;
	background-image: url("../img/icon-1.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
	top: 10px;
	left: 213px;
}

.description-item2 h3::after{
	content: "";
	position: absolute;
	width: 75px;
	height: 70px;
	background-image: url("../img/icon-2.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
	top: 14px;
	left: 195px;
}

.description-item3 h3::after{
	content: "";
	position: absolute;
	width: 75px;
	height: 70px;
	background-image: url("../img/icon-3.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
	top: 10px;
	left: 190px;
}

.description-item4 h3::after{
	content: "";
	position: absolute;
	width: 75px;
	height: 75px;
	background-image: url("../img/icon-4.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
	top: 5px;
	left: 195px;
}

.description-item5 h3::after{
	content: "";
	position: absolute;
	width: 80px;
	height: 75px;
	background-image: url("../img/icon-5.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
	top: 10px;
	left: 190px;
}

.description-item1 a{
	display: block;
	border-radius: 2px;
	padding: 10px 0;
	width: 135px;
	text-align: center;
	margin-left: 25px;
	background-color: #E5AD40;
}

.description-item1 a:hover,
.description-item1 a:focus{
	background-color: #A47D29;
}

.description-item2{
	background-color: #3BBCE3;
	width: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
	min-height: 123px;
}

.description-item2 a{
	display: block;
	width: 135px;
	border-radius: 2px;
	padding: 10px 0;
	margin-left: 25px;
	text-align: center;
	background-color: #34A9CC;
}

.description-item2 a:hover,
.description-item2 a:focus{
	background-color: #427598;
}

.description-item3{
	background-color: #DD91D9;
	width: 300px;
	margin-bottom: 20px;
	min-height: 123px;
}

.description-item3 a{
	display: block;
	width: 135px;
	border-radius: 2px;
	padding: 10px 0;
	text-align: center;
	margin-left: 25px;
	background-color: #C782C3;
}

.description-item3 a:hover,
.description-item3 a:focus{
	background-color: #8C4F8F;
}

.description-item4 {
	background-color: #8ED78E;
	width: 300px;
	min-height: 123px;
	margin-bottom: 20px;
}

.description-item4 a{
	display: block;
	width: 135px;
	border-radius: 2px;
	padding: 10px 0;
	text-align: center;
	margin-left: 25px;
	background-color: #80C181;
}

.description-item4 a:hover,
.description-item4 a:focus{
	background-color: #5C9255;
}

.description-item5{
	background-color: #FEC047;
	width: 300px;
	min-height: 123px;
}

.description-item5 a{
	display: block;
	width: 135px;
	border-radius: 2px;
	padding: 10px 0;
	text-align: center;
	margin-left: 25px;
	background-color: #E5AD40;
}

.description-item5 a:hover,
.description-item5 a:focus{
	background-color: #A47D29;
}

.slider{
	position: relative;
	width: 620px;
	height: 265px;
	background-color: #170D0C;
	margin-right: 20px;
}

.slider-button-left{
	position: absolute;
	top: 113px;
	left: 25px;
	height: 42px;
	width: 24px;
	background-color: transparent;
	background-image: url("../img/icon-left.svg");
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
}

.slider-button-right{
	position: absolute;
	top: 113px;
	left: 577px;
	height: 42px;
	width: 24px;
	background-color: transparent;
	background-image: url("../img/icon-right.svg");
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
}

.slider-controls{
	position: absolute;
	display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	top: 204px;
	left: 293px;
	list-style: none;
	padding: 0;
}

.slider-controls li{
	margin-right: 20px;
}

.slider-controls label{
	position: relative;
	display: block;
}


.slider-circle + label::before {
  	content: "";
  	position: absolute;
  	top: 0;
  	left: 1px;
  	width: 10px;
	height: 10px;
  	background-color: #fff;
  	border-radius: 50%;
  	cursor: pointer;
}

.slider-circle:checked + label::after{
 	content: "";
  	position: absolute;
  	top: 2px;
  	left: 3px;
  	width: 6px;
	height: 6px;
  	background-color: #EE3543;
  	border-radius: 50%;
  	cursor: pointer;
}

.slider p{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	margin: 0;
}

.slider span{
	font-size: 18px;
	line-height: 24px;
}

.button{
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #EF3644;
	text-transform: uppercase;
}

.slider-item{
	position: absolute;
	top: 25px;
	left: 23px;
}

.slider a{
	position: absolute;
	top: 207px;
	left: 23px;
	border-radius: 2px;
	padding: 10px 48px;
}

.slide-first{

}

.slide-second{
	display: none;
}

.button:hover,
.button:focus{
	background-color: #C92C37;
}

.button:active{
	background-color: #BA2632;
}

/*--------------------------------------------popular-products----------------------------------*/

.popular-products-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #F9F6F1;
	color: #32425B;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding: 25px 25px 25px 27px;
}

.popular-producers-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #F9F6F1;
	color: #32425B;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding: 25px 25px 25px 24px;
}

.popular-products-item h2,
.popular-producers-item h2{
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
}
/*----------------------------------------------------popular-producers------------------------------------------*/
.popular-products-item a,
.popular-producers-item a{
	text-align: center;
	width: 253px;
	padding: 10px 0;
	border-radius: 2px;
}

.products-wrapper a{
	width: 218px;
	margin-right: 20px;
}

.products-wrapper a:nth-child(4n){
	margin-right: 0;
}

.products-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.products-wrapper2{
	margin-bottom: 65px;
}

.products-wrapper2 a{
	height: 144px;
}

.products-wrapper a{
	margin-bottom: 20px;
	border: 1px solid #E8E8E8;
}

.products-wrapper a:hover,
.products-wrapper a:focus{
	-webkit-box-shadow: 0 0 15px grey;
	        box-shadow: 0 0 15px grey;
}

.products-wrapper a:active{
	opacity: 0.3;
}

.product{
	position: relative;
	display: inline-block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 220px;
	vertical-align: top;
	min-height: 316px;
	border: 1px solid #EAEAEA;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 22px;
}

.product:nth-child(4n){
	margin-right: 0;
}

.product img{
	margin: 0 auto;
	margin-bottom: 40px;
	padding-top: 43px;
	max-width:100%;

}

.product:hover,
.product:focus{
	-webkit-box-shadow: 0 0 15px grey;
	        box-shadow: 0 0 15px grey;
}

.product-text{
	font-size: 18px;
	line-height: 20px;
	padding: 0 25px;
	margin-top: 5px;
    margin-bottom: 0; 
}

.product-item{
    position:absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
}

.product-buy,
.product-bookmarks{
	display: block;
	width: 129px;
	margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
	font-size: 14px;
	font-family: "Cuprum", Arial, sans-serif; 
	line-height: 18px;
	border-radius: 2px;
	text-transform: uppercase;
	cursor: pointer; 
	
}

.product-buy{
	position: relative;
	background-color: #63A63D;
	border: 3px solid #63A63D;
	border-bottom-color:#367315;
	color: #ffffff;
}

.product-buy::before{
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	left: 7px;
	background-image: url("../img/icon-cart.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.3;
}

.product-buy:hover,
.product-buy:focus{
	border: 3px solid #5FBA2E;
	background-color: #5FBA2E;
	border-bottom-color:#367315;
}

.product-buy:hover::before,
.product-buy:focus::before{
	opacity: 1;
}

.product-buy:active{
	background-color: #367315;
	border: 3px solid #367315;
	border-bottom-color:#367315;
}

.product-bookmarks{
	color: #31425C;
	background-color: #ffffff;
	border: 3px solid #63A63D;
}

.product-bookmarks:hover,
.product-bookmarks:focus{
	border-color: #32425C;
}

.product-bookmarks:active{
	border-color: #C1C5CE;
	color: #D2D2D4;
}

.product-item{
	display: none;
}

.product:hover .product-item,
.product:focus .product-item{
	display: block;
}

.new-price{
	position:relative;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background:#ee3643;
    width:80px;
    margin:9px auto;
    margin-bottom:20px;
    padding:10px 30px;
    border-radius:3px;
}

.hidden{
	visibility: hidden;
}

.new-price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 19px solid #ffffff;
    border-left-color:#ee3643;
}

.old-price{
	font-size: 17px;
	line-height: 18px;
	margin-top:12px;
    margin-bottom:9px;
    color:#999;
    text-decoration:line-through;
}

.popular-products .new::after,
.catalog .new::after{
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: url("../img/new-flag.png");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	top: -1px;
  	right: -1px;
  	z-index: 11;
}

/*--------------------------------------------service--------------------------------------------*/
.service{
	background-color: #F3F7F8;
	min-height: 522px;
}

.service h3{
	margin: 0;
	padding-top: 65px;
	padding-bottom: 12px;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.service .service-text{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
}

.service-list{
	position: relative;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*align-items: flex-start;*/
	padding: 0;
	margin-bottom: 100px;
}

.service-list-item-none{
	display: none;
}

.service-list li{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.service-list img{
	position: absolute;
	left: 470px;
	top: 20px;
}

.service-list .service-list-img2{
	position: absolute;
	left: 470px;
	top: 0;
}

.service-list .service-list-img3{
	position: absolute;
	left: 470px;
	top: 0;
}

.service h4{
	font-size: 36px;
	line-height: 40px;
	font-weight: normal;
	color: #33435D;
	margin: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.service p{
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 70px;
}

.tabs { 
	padding: 0px; 
	margin: 0 auto; 
	position: relative; 
	box-sizing: border-box;
} 

.content { 
	display: none;  
	position: absolute; 
	top: 0; 
	left: 240px; 
	margin-left: 80px;
} 

.content h4{
	font-size: 36px;
	line-height: 40px;
    font-weight: normal;
    font-family: "Cuprum", Arial, sans-serif;
    color: #33435D;
    margin: 0;
    margin-top: -5px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.content p{
	font-size: 13px;
	line-height: 24px;
	font-family: "Cuprum", Arial, sans-serif;
}

.tabs input { 
  display: none; 
}

.tabs label{ 
	display: block; 
	width: 240px; 
	padding: 19px 23px; 
	font-weight: bold;
	color: #ffffff;
	box-sizing: border-box;
	background-color: #32425C; 
	cursor: pointer;
	border-bottom: 1px solid #4D637A;
}

.tabs label:hover{
	background-color: #293448;
}

.tabs .tab3:after{
	content: "";
	position: absolute;
	top: -55px;
	left: 230px;
	width: 10px;
	height: 280px;
	background-image: url("../img/vertical-line.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.tabs .tab3{
	border-bottom: none;
}

.tabs-text{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
} 

.tabs input:checked + label { 
	color: #32425C; 
	background-color: #ffffff; 
}

#tab1:checked ~ #content1, 
#tab2:checked ~ #content2, 
#tab3:checked ~ #content3, 
#tab4:checked ~ #content4 { 
  display: block; 
} 

.content{ 
  animation: scale 0.7s ease-in-out; 
} 

@keyframes scale { 
  0% { 
  transform: scale(0.9); 
  opacity: 0; 
  } 
  50% { 
  transform: scale(1); 
  opacity: 0.5; 
  } 
  100% { 
  transform: scale(1); 
  opacity: 1; 
  } 
}

.content1{
	width: 275px;
	z-index: 5;
}

.content1:after{
	content: "";
	position: absolute;
	top: 20px;
	left: 150px;
	width: 470px;
	height: 260px;
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: -1;
}

.content2{
	width: 367px;
	z-index: 5;
}

.content2:after{
	content: "";
	position: absolute;
	top: 0;
	left: 230px;
	width: 470px;
	height: 260px;
	background-image: url("../img/warranty.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: -1;
}

.content3{
	width: 280px;
	z-index: 5;
}

.content3:after{
	content: "";
	position: absolute;
	top: 0;
	left: 155px;
	width: 470px;
	height: 260px;
	background-image: url("../img/credit.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: -1;
}

.service-button{
	font-size: 16px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #EF3644;
	padding: 9px 38px;
	border-radius: 2px;
}

.service-button:hover,
.service-button:focus{
	background-color: #C92C37;
}

.service-button:active{
	background-color: #BA2632;
}


/*---------------------------------------------about-us--------------------------------------*/

.about-contacts{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.about-us{
	width: 520px;
}

.about-us h3,
.contacts h3{
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 77px;
	margin-bottom: 25px;
}

.about-us p{
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
}

.about-us-text1{
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	margin-bottom: 25px;
}

.about-us .about-us-item{
	margin-bottom: 25px;
}

.about-us-text2{
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	margin-bottom: 22px;
}

.about-us .about-us-text3{
	position: relative;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	margin-bottom: 20px;
	padding-left: 35px;
}

.about-us-text3::before{
	content: "";
	position: absolute;
	left: 0;
	top: 8px;
	width: 25px;
	height: 2px;
	background-color: red;
}

.about-us .bottom-text{
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	margin-bottom: 35px;
}

.about-us-list{
	list-style: none;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.about-us .button{
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 220px;
	margin-bottom: 86px;
	padding: 10px 40px;
	border-radius: 2px;
}

.contacts{
	width: 300px;
}

.contacts img{
	margin-bottom: 37px;
}

.contacts p{
	width: 190px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 30px;
}

.contacts .button{
	display: block;
	padding: 10px 0;
	padding-left: 65px;
	margin-bottom: 86px;
	border-radius: 2px;
}

/*---------------------------------------------navigation--------------------------------------*/
.navigation-items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.navigation{
	background-color: #32425C;
	color: #ffffff;
}

.navigation-item-left{
	width: 350px;
}

.navigation .logo{
	display: block;
	width: 220px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 30px;
	line-height: 30px;
	padding: 17px 40px;
	margin-bottom: 27px;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
	background-color: #EF3644;
	border-bottom: 5px solid #B52932;
}

.navigation .logo:hover,
.navigation .logo:focus{
	background-color: #C92C37;
}

.navigation .logo:active{
	background-color: #BA2632;
}

.navigation .navigation-text{
	color: #DDE1E6;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 50px;
}

.navigation-item-right{
	width: 590px;
}

.navigation-list{
	padding: 0;
}

.navigation-list-top{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.navigation-list-bottom{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.navigation-list-bottom li{
	margin-top: 20px;
	margin-left: 59px;
}

.navigation-list-bottom li:first-child{
	margin-left: 25px;
}

.navigation-list-top li,
.navigation-list-bottom li{
	list-style: none;
}

.navigation-list-top{
	margin-top: 37px;
}

.navigation-list-top li{
	margin-right: 59px;
}

.navigation-list-top li:last-child{
	margin-right: 0;
}

.navigation-list-top li:first-child{
	margin-left: 0;
}

.navigation-list-top li:last-child{
	margin-right: 0;
}

.navigation-list-top a,
.navigation-list-bottom a{
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.navigation-list-top li:hover,
.navigation-list-bottom li:hover{
	text-decoration: underline;
}

.navigation-list-top a:focus,
.navigation-list-bottom a:focus{
	text-decoration: underline;
}

.navigation-list-top li:active,
.navigation-list-bottom li:active{
	text-decoration: none;
}

.navigation-list-top a:active{
	color: #A2ABB4;
	text-decoration: none;
}

.navigation-list-bottom .orange{
	color: #FFD07E;
}

.navigation-list-bottom .orange:active{
	color: #AB9570;
	text-decoration: none;
}


/*---------------------------------------------------footer-----------------------------------------*/
	
footer{
	background-color: #293448;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.footer-items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-left{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 230px;
	padding: 35px 0;
	margin: 0;
	margin-right: 160px;
}

.footer-items ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 130px;
	list-style: none;
	margin-right: 120px;
	padding: 0;
}

.footer-social{
	color: #ffffff;
	background-color: #222939;
}

.social-button{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	margin-top: 20px;
	margin-right: 5px;
}

.footer-social:hover,
.footer-social:focus{
	background-color: #F03644;
}

.footer-social:active{
	background-color: #ED3743;
}

.footer-copyright{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-copyright-left{
	width: 140px;
	margin-top: 35px;
	margin-right: 47px;
}

.footer-copyright-right{
	width: 100px;
	margin: 0;
	margin-top: 35px;
	padding: 0;
}

.button-footer{
	color: #FFD07E;
}

.button-footer:hover,
.button-footer:focus{
	text-decoration: underline;
}

.button-footer:active{
	text-decoration: none;
	color: #F03641;
}

/*-----------------------------------------------pupap-user-------------------------------------*/

.pupap-user{
	border-top: 5px solid #E43C49;
}

.pupap-user label{
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
}

.pupap-user-footer{
	background-color: #EEEEEE;
}

.pupap-user .button{
	border: none;
	cursor: pointer;
}

.button-pupap-user{
	background-color: #fff;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.button-pupap-user:hover,
.button-pupap-user:focus{
	background-color: #EEEEEE;
}

/*------------------------------------------catalog.html----------------------------------------------*/

/*------------------------------------------breadcrumbs----------------------------------------------*/

.breadcrumbs{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	margin-top: -40px;
	padding: 0;
}

.breadcrumbs a{
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	margin-right: 40px;
	cursor: pointer;
}

.breadcrumbs-home{
	display: block;
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 14px; 
	height: 14px; 
}

.breadcrumbs li{
	position: relative;
}

.breadcrumbs-item::after{
	content: "";
	position: absolute;
	width: 10px;
	height: 17px;
	top: 3px;
	right: 15px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.breadcrumbs-current{
	font-size: 13px;
	line-height: 18px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus{
	text-decoration: underline;
}

.breadcrumbs li{
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	list-style: none;
}

.instrument-text{
	text-transform: uppercase;
	font-weight: normal;
	color: #31425B;
	font-size: 30px;
	line-height: 30px;
	padding: 30px 28px;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 18px;
	background-color: #F2F6F9;
}

/*-------------------------------------------------filters------------------------------------------------------*/

.filters{
	text-transform: uppercase;
	font-family: "PT Sans", Arial, sans-serif;
	margin-right: 25px;
}

.filter-item{
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}

.filter-text1{
	font-size: 13px;
}

.filter p{
	background-color: #F7F2EC;
	border-radius: 2px;
	padding: 10px 18px;
	margin: 0;
	margin-bottom: 13px;
}

.filters .filter-text{
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	margin-bottom: 13px;
}

.filter-item1{
	border-bottom: 1px solid #E8E8E8;
}

.range-filter {
	width: 215px;
	padding-bottom: 25px;
	border-bottom: 1px solid #E8E8E8;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 10px;
	padding-top: 39px;
	padding-right: 20px;
  	padding-left: 20px;
	background-color: #F7F2EC;
	border-radius: 2px;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 85%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
  	top: 31px;
  	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	        box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
  	left: 18px;
}

.range-controls .toggle-max {
  	left: 155px;
}

.price-controls {
  	font-size: 0;
}

.price-controls label {
  	display: inline-block;
  	vertical-align: top;
  	font-size: 16px;
  	text-transform: uppercase;
}

.price-controls input {
	width: 72px;
  	padding: 10px 10px;
  	font-size: 17px;
  	line-height: 18px;
  	text-align: center;
  	color: #000000;
  	border: none;
  	border-radius: 2px;
  	background: #F7F2EC;
}

.min-price{
	position: relative;
	margin-right: 30px;
}

.min-price:after{
	content: "";
	position: absolute;
	top: 19px;
	left: 103px;
	width: 9px;
	height: 1px;
	background-color: #000;
}

.filter-list label,
.filter-list2 label{
	font-size: 15px;
	line-height: 20px;
}

.filter-item2{
	margin-top: 15px;
	margin-bottom: 15px;
}

.filter-list{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #E8E8E8;
}

.filter-list label{
	position: relative;
  	display: block;
  	cursor: pointer;
  	-webkit-user-select: none;
  	   -moz-user-select: none;
  	    -ms-user-select: none;
  	        user-select: none;
}

.filter-input-checkbox + label::before {
  	content: "";
  	position: absolute;
  	top: -2px;
  	left: -35px;
  	width: 28px;
  	height: 28px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.6;
}

.filter-list label:hover::before{
	opacity: 1;
}

.filter-list input:disabled + label{
	opacity: 0.3;
}

.filter-input-checkbox:checked + label::after {
  	content: "";
  	position: absolute;
  	top: -2px;
  	left: -35px;
  	width: 28px;
  	height: 28px;
  	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.6;
}

.filter-input-checkbox:checked + label:hover::after{
	opacity: 1;
}

.filter-list li{
	list-style: none;
	margin-bottom: 20px;
	padding-left: 35px;
}

.filter-list2 {
	position: relative;
	padding: 0;
}

.filter-list2 label{
	position: relative;
  	display: block;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	cursor: pointer;
}

.filter-list2 li{
	list-style: none;
	padding-left: 35px;
	margin-bottom: 20px;
}

.filter-input-radio + label::before {
  	content: "";
  	position: absolute;
  	top: -3px;
  	left: -35px;
  	width: 18px;
  	height: 18px;
  	border: 4px solid #C5C5C5;
  	border-radius: 50%;
}

.filter-list2 label:hover::before{
	border: 4px solid #B5B5B5;
}

.filter-list2 input:disabled + label{
	opacity: 0.3;
}

.filter-input-radio:checked + label:hover::after{
	background-color: #B5B5B5;
}

.filter-input-radio:checked + label::after{
 	content: "";
  	position: absolute;
  	top: 5px;
  	left: -27px;
  	width: 9px;
  	height: 9px;
  	background-color: #C5C5C5;
  	border-radius: 50%;
}

.filter-item3{
	padding-top: 19px;
	margin-bottom: 15px;
}

.filter-button{
	font-size: 13px;
	line-height: 18px;
	padding: 8px 38px;
	margin-top: 55px;
	border: 1px solid #E5E5E5;
	background-color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus{
	border-color: #BDC6CB;
}

.filter-button:active{
	border-color: #EE3642;
}

.filters{
	width: 220px;
	min-height: 750px;
}

/*--------------------------------------------------------catalog------------------------------------------*/

.catalog{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 720px;
	min-height: 1145px;
}

.order-navigation .basket-catalog{
	background-color: #EF3644;
	padding-left: 50px;
	padding-right: 25px;
}

.order-navigation .basket-catalog:hover,
.order-navigation .basket-catalog:focus{
	background-color: #C92C37;
}

.order-navigation .basket-catalog:active{
	background-color: #BA2632;
}

.address .address-text{
	position: relative;
	color: #000000;
	margin: 0;
	margin-top: 47px;
	margin-bottom: 8px;
	padding: 10px 0;
	font-size: 21px;
	line-height: 21px;
	padding-left: 45px;
	padding-right: 68px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
}

.address-right-user{
	color: #000000;
}

.address .address-right-user:hover:before,
.address .address-right-user:focus:before{
	opacity: 1;
}

.address .address-right-close:hover:after,
.address .address-right-close:focus:after{
	opacity: 1;
}

.address .address-right-user:active{
	color: #c5c5c5;
}

.address .address-right-user:active:before,
.address .address-right-close:active:after{
	opacity: 0.3;
}

.address-right-user:before{
	content: "";
	position: absolute;
	left: 13px;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.address-right-close:after{
	content: "";
	position: absolute;
	left: 268px;
	top: 12px;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-logout.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.address-right .address-text-footer{
	font-size: 16px;
	color: #31425C;
	text-decoration: underline;
}

.address-right .address-text-footer:hover,
.address-right .address-text-footer:focus{
	color: #EF3743;
}

.address-right .address-text-footer:active{
	color: #C5C5C5;
}

.address-right .address-text-footer:first-of-type{
	position: relative;
	margin-left: 15px;
	margin-right: 30px;
}

.address-right .address-text-footer:first-of-type:after{
	content: "";
	position: absolute;
	top: 7px;
	left: 88px;
	width: 5px;
	height: 5px;
	background-color: #31425C;
	border-radius: 50%;
	cursor: auto;
}

.address .address-item-catalog{
	margin-right: 50px;
}

.catalog-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog-product-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.sorting{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 38px;
	text-transform: uppercase;
	font-family: "PT Sans", Arial, sans-serif;
	background-color: #F7F2EC;
	margin-bottom: 20px;
	border-radius: 2px;
}

.sorting-text1{
	margin-right: 70px;
	font-size: 13px;
}

.sorting-text2{
	margin-right: 65px;
	font-size: 13px;
}

.sorting-text3{
	margin-right: 45px;
	font-size: 13px;
}

.sorting-img1{
	fill: #EE3643;
	cursor: pointer;
	margin-right: 20px;
}

.sorting-img2{
	fill: #C5C5C5;
	cursor: pointer;
}

.sorting-img1:hover,
.sorting-img2:hover{
	fill: #231F20;
}

.sorting-img1:active,
.sorting-img2:active{
	fill: #EE3643;
}

.sorting p{
	margin: 0;
	margin-right: 123px;
	font-size: 13px;
	line-height: 18px;
	padding: 10px 18px;
}

.sorting a{
	color: #CBCBCB;
	border-bottom: 1px dotted #EC3642;
}

.sorting a:hover,
.sorting a:focus{
	color: #000000;
	border-bottom: 1px solid #EC3642;
}

.sorting a:active{
	color: #EC3642;
	border-bottom: none;
}

.sorting .sorting-active{
	color: #EC3642;
	border-bottom: none;
}

.sorting .sorting-active:hover,
.sorting .sorting-active:focus{
	color: #EC3642;
	border-bottom: none;
}

.sorting .sorting-img1:hover,
.sorting .sorting-img1:focus{
	fill: #EE3643;
}

.sorting-up:after{
	content: "";
	position: absolute;
	top: 12px;
	border-style: solid;
	border-width: 0 6.5px 11px 6.5px;
	border-color: transparent transparent #EE3642 transparent;
	cursor: pointer;
}

.sorting-down:after{
	content: "";
	position: absolute;
	top: 12px;
	right: 15px;
	border-style: solid;
	border-width: 11px 6.5px 0 6.5px;
	border-color: #C5C5C5 transparent transparent transparent;
	cursor: pointer;
}

.sorting-down:hover:after,
.sorting-down:focus:after{
	border-color: #231F20 transparent transparent transparent;
}

.sorting-down:active:after{
	border-color: #EE3642 transparent transparent transparent;
}

.catalog-product{
	position: relative;
	display: inline-block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	vertical-align: top;
	width: 220px;
	min-height: 316px;
	border: 1px solid #EAEAEA;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	margin-right: 20px;
}

.catalog-product:hover .product-item,
.catalog-product:focus .product-item{
	display: block;
}

.catalog-product:nth-child(3n){
	margin-right: 0;
}

.catalog-product:hover,
.catalog-product:focus{
	-webkit-box-shadow: 0 0 15px grey;
	        box-shadow: 0 0 15px grey;
}

.catalog-product img{
	margin: 0 auto;
	padding-top: 40px;
	margin-bottom: 42px;
}

/*-----------------------------------------------------pagination-list---------------------------------*/

.pagination-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	margin-top: 34px;
	margin-bottom: 58px;
	padding: 0;
}

.pagination-list li{
	list-style: none;
	margin-right: 10px;
}

.pagination-list a{
	display: block;
	padding: 9px 15px;
	color: #000000;
	border: 1px solid #E5E5E5;
	border-radius: 2px;
}

.pagination-list .pagination-item-current{
	color: #ffffff;
	background-color: #EF3644;
	border: 1px solid #EF3644;
	border-radius: 2px;
}

.pagination-list .pagination-item-last{
	padding: 9px 32px;
}


.pagination-list a:hover,
.pagination-list a:focus{
	border: 1px solid #BDC6CA;
}

.pagination-list a:active{
	border: 1px solid #F26771;
}

.pagination-item-current{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 38px;
}

.pagination-list .pagination-item-current:hover{
	border: 1px solid #EF3644;
}

.pagination-list .pagination-item-current:active{
	border: 1px solid #EF3644;
}

.catalog-description{
	background-color: #F2F6F9;
}

/*---------------------------------------------------------catalog-description-----------------------------------*/
.catalog-wrapper{
	background-color: #F2F6F9;
}

.catalog-description h3{
	margin: 0;
	padding: 0;
	letter-spacing: 0.2px;
	padding-top: 65px;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.catalog-description p{
	font-family: "PT Sans", Arial, sans-serif;
	margin: 0;
	padding: 0;
	padding-top: 26px;
	padding-bottom: 68px;
	font-size: 13px;
	line-height: 24px;
}


/*--------------------------------------------------modal------------------------------------------------------*/

.modal {
	display: none;
	position: fixed;
	color: #000000;
	background-color: #FCFDFD;
	-webkit-box-shadow: 0 0 35px 0 #000;
	        box-shadow: 0 0 35px 0 #000;
	border-top: 7px solid #ff6666;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.modal-show {
	display: block;
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-login {
	top: 120px;
  	left: 50%;
	width: 620px;
	margin-left: -310px;
	z-index: 100;
}

.modal-close {
	position: absolute;
  	top: 10px;
  	right: 10px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: #FCFDFD;
	border: 0;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 10px;
  	left: 2px;
	width: 19px;
	height: 3px;
	background-color: #ff3333;
}

.modal-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.modal-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.modal-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 80px;
	padding-top: 30px;
}

.modal-text{
	width: 220px;
}

.modal-login label{
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
}

.user-text{
	padding-left: 80px;
	margin: 0;
}

.modal-login input{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 220px;
	padding: 9px 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
	font-family: "PT Sans", Arial, sans-serif;
	border: 1px solid #cccccc;
	border-radius: 2px;
}

.modal-text:first-child{
	margin-right: 20px;
}

.modal-login textarea{
	margin-left: 80px;
	margin-bottom: 25px;
	margin-top: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-height: 115px;
	width: 460px;
	padding: 9px 15px;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
	font-family: "PT Sans", Arial, sans-serif;
	border: 1px solid #cccccc;
	border-radius: 2px;
	resize: none;
}

.modal-footer{
	padding: 0;
    margin: 0;
    background-color: #eeeeee;
}

.modal-send{
	width: 460px;
	margin-left: 80px;
	margin-top: 38px;
	margin-bottom: 38px;
	background-color: #ff3333;
	text-transform: uppercase;
	padding: 10px 0;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.modal-send:hover{
	background-color: #C92C37;
}

.modal-send:active{
	background-color: #BA2632;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  60% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }

  80% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  60% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }

  80% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}


/*----------------------------------------------------------modal-map----------------------------------------------*/

.modal-map{
	display: none;
	position: fixed;
	top: 120px;
  	left: 50%;
	width: 940px;
	height: 450px;
	margin-left: -470px;
	z-index: 100;
	-webkit-box-shadow: 0 0 16px 0 #000;
	        box-shadow: 0 0 16px 0 #000;
}

.modal-map-show {
	display: block;
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
}

.modal-map-item{
	position: relative;
}

.modal-map iframe {
	position: relative;
	z-index: 2;
	border: none;
}

.modal-map img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.modal-map-close {
	position: absolute;
  	top: 10px;
  	right: 10px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	z-index: 5;
}

.modal-map-close::before,
.modal-map-close::after {
	content: "";
	position: absolute;
	top: 10px;
  	left: 2px;
	width: 19px;
	height: 3px;
	background-color: #ff3333;
}

.modal-map-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.modal-map-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

/*------------------------------------------------------modal-buy------------------------------------------------*/

.modal-buy{
	display: none;
	position: fixed;
	top: 150px;
  	left: 50%;
	width: 620px;
	background-color: #FCFDFD;
	margin-left: -310px;
	z-index: 100;
	-webkit-box-shadow: 0 0 16px 0 #000;
	        box-shadow: 0 0 16px 0 #000;
	border-top: 7px solid #ff6666;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.modal-buy-show{
	display: block;
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
}

.modal-buy-close{
	position: absolute;
  	top: 10px;
  	right: 10px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: #FCFDFD;
	border: 0;
	cursor: pointer;
}

.modal-buy-close::before,
.modal-buy-close::after {
	content: "";
	position: absolute;
	top: 10px;
  	left: 2px;
	width: 19px;
	height: 3px;
	background-color: #ff3333;
}

.modal-buy-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.modal-buy-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.modal-buy h3{
	position: relative;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	margin: 0;
	padding-left: 180px;
	padding-top: 53px;
	padding-bottom: 60px;
}

.modal-buy h3:before{
	content: "";
	position: absolute;
	width: 66px;
	height: 66px;
	top: 35px;
	left: 80px;
	background-image: url("../img/ok.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.modal-buy-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #eeeeee;
}

.modal-buy-item a{
	display: block;
	font-size: 14px;
	line-height: 18px;
	width: 220px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 9px;
	padding-bottom: 9px;
	cursor: pointer;
	border: none;
	border-radius: 2px;
}

.left-button{
	margin-left: 80px;
	margin-right: 20px;
	color: #ffffff;
	background-color: #EF3644;
}

.left-button:hover,
.left-button:focus{
	background-color: #C92C37;
}

.left-button:active{
	background-color: #BA2632;
}

.right-button{
	color: #000000;
	background-color: #ffffff;
}

.right-button:hover,
.right-button:focus{
	background-color: #F5F5F5;
}

.right-button:active{
	background-color: #DEDEDE;
}